.App {
  text-align: center;

}


.searchResults {
  font-size: x-large;
  background: white;
  padding: 10px;
  position: relative;
  border-radius: 1vh 0vh 0vh 1vh;
  max-height: 28vh;
  overflow-y: auto;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  /* border: 2px solid #4d4d4d; */
}

.searchResult:hover {
  background: rgba(128, 128, 128, 0.205);
  border-radius: 2px 2px 2px 2px;
}


nav {
  height: 100%;
  width: 100%;
  background: rgba(77, 77, 77, 0.97);
  position: relative;
  z-index:2;
  flex-flow: row wrap;
}

a{
  color: currentColor;
  text-decoration: none;
}

.link {
  background-color: transparent;
  border-width: 0px;
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  font-size: 18px;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.tabWindow{
  margin: 2vw;
  margin-left: auto;
  margin-right: auto;
  width: 96vw;
  border-radius: 1vh 1vh 1vh 1vh;
  background: rgba(77, 77, 77, 0.97);
  position: relative;
}  

.tabWindow #tabinfo{
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  padding: 3vh 0 3vh 0;
}  

.material-icons {
  font-size: 50px;
  color: black;
  cursor: pointer;
  margin: 2%;
  background-color: white;
  border-radius: 4px;
}

.paths {
  display: flex;
  flex-direction:row;
  flex-shrink: 0;
  flex-flow: row wrap;
  justify-content: center;
}

.onePath {
  padding: 2vh;
  margin: 3vh;
  background: green;
  border-radius: 5px;
  text-align: center;
  width: 25vw;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.unclickable {
  padding: 2vh;
  margin: 3vh;
  background: red;
  border-radius: 5px;
  text-align: center;
  width: 25vw;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
